<div ng-show="isVisible" class="">

    <div class="row" ng-show="isVisible">
        <h2>{{message}} {{animal.descricao}}</h2>
    </div>

    <div class="row">
        <div class="col-md"><button class="btn btn-success btn-block" ng-click="getRespostaSim()">sim</button></div>
        <div class="col-md"><button class="btn btn-danger btn-block" ng-click="getRespostaNao()">não</button></div>
    </div>
</div>
<div class="row" ng-show="!isVisible">
    <h2>{{message}}</h2>
    <input class="form-control" type="text" ng-model='animalResposta.descricao'>
    <h2>um(a) {{animalResposta.descricao}} _____________ mas um {{animal.descricao}} não:</h2>
    <input type="text" class="form-control" ng-model="descricaoResposta.descricao">
    <button class="btn btn-success btn-block" ng-click='salvar()'>salvar</button>
</div>

<div class="row"><button class="btn btn-block btn-secondary" ng-click='reset()'>reset</button></div>